html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  height: 100rem;
}
@media (max-width: 200px) {
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i,
  a {
    font-size: 3px;
  }
  .card2,
  .card1 {
    height: 500%;
    width: 20%;
  }
}
@media (max-width: 480px) {
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i,
  a {
    font-size: 3px;
  }
  .card2,
  .card1 {
    height: 500%;
    width: 20%;
  }
}
@media (max-width: 600px) {
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 5px;
  }
  .card2,
  .card1 {
    height: 500%;
    width: 20%;
  }
}
@media (max-width: 720px) {
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 15px;
  }
  .card2 {
    height: 150%;
  }
}
